<div class="container form-container">
    <form #form="ngForm">
        <mat-card *ngIf="!recuperacionEnviada;else recuperacionEnviadaTemplate">
            <mat-card-header>
                <mat-card-title>{{'sign-recovery-account.title' | translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row mt-4">
                    <mat-form-field>
                        <mat-label>{{ 'sign-recovery-account.email' | translate }}</mat-label>
                        <input #emailInput="ngModel" ngModel matInput
                            placeholder="{{ 'sign-recovery-account.email-placeholder' | translate }}" name="email" autocomplete="off"
                            type="email" required (ngModelChange)="validateEmail(emailInput.value, form)">
                        <mat-icon matPrefix>email</mat-icon>
                        <mat-error *ngIf="emailInput.errors && emailInput.errors['emailInvalid']">
                            {{ 'sign-up.email-invalid' | translate }}
                        </mat-error>
                        <mat-error *ngIf="emailInput.touched && !emailInput.value">
                            {{ 'sign-recovery-account.email-error' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row d-flex justify-content-center">
                    <button mat-raised-button color="accent" [disabled]="form.invalid" (click)="recovery()"><mat-icon>recovery{{'sign-recovery-account.button' | translate}}</mat-icon></button>
                </div>
            </mat-card-content>

        </mat-card>
        <ng-template #recuperacionEnviadaTemplate>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{'sign-recovery-account.title' | translate}}</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        {{'sign-recovery-account.mensaje' | translate}}
                    </div>

                    <div class="row d-flex justify-content-center">
                        <button mat-raised-button (click)="backToHome()">{{'sign-recovery-account.volver' | translate}}</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </ng-template>

    </form>
</div>