<div #container class="component-container h-100" [style.height.px]="calculatedHeight">
    <div class="header-container">
      <h2 class="main-title">{{title}}</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="body-container">
      <div class="body-content h-100">
        <ng-content select="[content]">
        </ng-content>
      </div>
    </div>
    <div class="footer-container">
        <ng-content select="[footer]">
            
        </ng-content>
        <div class="row" style="height: 10px;">
          <mat-progress-bar class="pt-3" mode="indeterminate" *ngIf="showLoading" color="accent"></mat-progress-bar>
        </div>
      </div>
  </div>