<div class="container form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{'sign-change-password.title' | translate}}</mat-card-title>
            <mat-card-subtitle>{{'sign-change-password.subtitle' | translate}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form #form="ngForm">
                <div class="row">
                    <mat-form-field>
                        <mat-label>{{ 'sign-change-password.password' | translate }}</mat-label>
                        <mat-hint>{{'sign-up.password-hint'|translate}}</mat-hint>
                        <input matInput #passwordInput="ngModel" ngModel name="password"
                            type="password" placeholder="{{'sign-up.password-placeholder'|translate}}" required
                            (ngModelChange)="validatePasswords(form)" minlength="5">
                        <mat-error
                            *ngIf="passwordInput.errors && passwordInput.errors['required']">{{'sign-change-password.password-error'|translate}}</mat-error>
                        <mat-icon matPrefix>password</mat-icon>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-label>{{ 'sign-change-password.confirm-password' | translate }}</mat-label>
                        <input matInput ngModel #confirmPasswordInput="ngModel" name="confirmPassword" type="password"
                            placeholder="{{'sign-up.confirm-password-placeholder'|translate}}" required
                            (ngModelChange)="validatePasswords(form)" minlength="5">
                        <mat-error
                            *ngIf="confirmPasswordInput.errors && confirmPasswordInput.errors['required']">{{'sign-up.confirm-password-error'|translate}}</mat-error>
                        <mat-error
                            *ngIf="confirmPasswordInput.errors && confirmPasswordInput.errors['notMatching']">{{'sign-up.confirm-password-notmatch'|translate}}</mat-error>
                        <mat-icon matPrefix>password</mat-icon>
                    </mat-form-field>
                </div>
                <div class="d-flex gap-2 justify-content-center">
                    <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="cambiarContrasena()">{{'sign-change-password.button' |
                        translate}}</button>
                </div>
            </form>
            <ng-template #cambioContrasenaEnviadaTemplate>
                <div class="row">
                    {{'sign-change-password.mensaje' | translate}}
                </div>
                <div class="d-flex gap-2 justify-content-center">
                    <button mat-raised-button color="accent" (click)="toLogin()">{{'sign-change-password.back-to-login' |
                        translate}}</button>
                </div>
            </ng-template>
            
        </mat-card-content>
    </mat-card>

</div>