<app-stepper #stepper (onConfirm)="confirmar($event)">
    <cdk-step [label]="'features.turnos.step-laboratorio-titulo'|translate" state="laboratorio">
        <div class="container d-flex flex-column gap-2">
            <mat-card matRipple *ngFor="let laboratorio of $laboratorios | async" (click)="laboratorioSelected(laboratorio)">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>{{laboratorio.titulo}}</mat-card-title>
                        <mat-card-subtitle>{{laboratorio.nombre}}</mat-card-subtitle>
                        <img mat-card-sm-image [src]="laboratorio.imagen">
                    </mat-card-title-group>
                </mat-card-header>
            </mat-card>
        </div>
    </cdk-step>
    <cdk-step state="horario" [label]="'features.turnos.step-horario-titulo'|translate" *ngIf="laboratorio">
        <div class="h-100 container d-flex flex-column overflow-auto">
            <div class="row">
                <input matInput [matDatepicker]="picker" hidden [(ngModel)]="fecha" (ngModelChange)="fechaSelected($event)">
                <mat-datepicker touchUi #picker></mat-datepicker>
                <mat-card class="py-4 d-flex flex-column justify-content-center">
                    <div class="d-flex flex-row justify-content-center">
                        <span class="mat-title">{{laboratorio.titulo}}</span>
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <span class="mat-title">{{fecha | date: 'dd/MM/yyyy'}}</span> 
                        
                    </div>
                </mat-card>
                <button mat-raised-button (click)="picker.open()">Cambiar fecha</button>
            </div>
            <div class="row mt-4 overflow-auto" *ngIf="$horarios">
                <mat-chip-listbox class="mat-mdc-chip-set-stacked">
                    <mat-chip-option *ngFor="let item of $horarios | async" color="accent" [disabled]="!item.disponible" (selectionChange)="horarioSelected(item)">
                      {{item.horario}}
                    </mat-chip-option>
                  </mat-chip-listbox>
            </div>
        </div>
        

    </cdk-step>
    <cdk-step state="confirmacion" [label]=" 'features.turnos.step-confirmacion-titulo'| translate" *ngIf="laboratorio && horario">
        <div class="h-100 container d-flex flex-column">
            <h1>{{'features.turnos.step-confirmacion-subtitulo'| translate}}</h1>

            <div class="row mat-subheading-2">
                <span>{{laboratorio.titulo}} | <small>{{laboratorio.nombre}}</small></span>
            </div>
            <div class="row mat-subheading-2">
                <span>Fecha: {{fecha | date: 'dd/MM/yyyy'}}</span>
                <span>Hora: {{horario.horario}}</span>
            </div>
        </div>
    </cdk-step>
</app-stepper>