<app-stepper #stepper>
    <cdk-step label="Seleccione el laboratorio" state="laboratorio">
        <div class="container d-flex flex-column gap-2">
                    
                        <!-- <mat-selection-list #labs [multiple]="false">
                            <mat-list-option *ngFor="let laboratorio of laboratorios" class="mt-2" style="height: 150px;">
                                <img mat-card-sm-image [src]="laboratorio.imagen">
                                        <span matListItemTitle>{{laboratorio.titulo}}</span>
                                        <span matListItemLine>{{laboratorio.nombre}}</span>
                            </mat-list-option>
                          </mat-selection-list> -->

            <!-- Cards with media area -->
            <mat-card matRipple *ngFor="let laboratorio of laboratorios" (click)="stepper?.next()">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>{{laboratorio.titulo}}</mat-card-title>
                        <mat-card-subtitle>{{laboratorio.nombre}}</mat-card-subtitle>
                        <img mat-card-sm-image [src]="laboratorio.imagen">
                    </mat-card-title-group>
                </mat-card-header>
            </mat-card>
        </div>
    </cdk-step>
    <cdk-step state="horario" label="Elija un horario">
        <div class="h-100 container d-flex flex-column overflow-auto">
            <div class="row">
                <input matInput [matDatepicker]="picker" hidden [(ngModel)]="selected">
                <mat-datepicker touchUi #picker></mat-datepicker>
                <mat-card class="py-4 d-flex flex-column justify-content-center">
                    <div class="d-flex flex-row justify-content-center">
                        <span class="mat-title">Laboratorio de ondas</span>
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <span class="mat-title">{{selected | date: 'dd/MM/yyyy'}}</span> 
                        
                    </div>
                </mat-card>
                <button mat-raised-button (click)="picker.open()">Cambiar fecha</button>
            </div>
            <div class="row mt-4 overflow-auto">
                <mat-chip-listbox class="mat-mdc-chip-set-stacked">
                    <mat-chip-option *ngFor="let chip of ['08:00','09:00','10:00','11:00','12:00','13:00','14:00','15:00','08:00','09:00','10:00','11:00','12:00','13:00','14:00','15:00']" [color]="'accent'">
                      {{chip}}
                    </mat-chip-option>
                  </mat-chip-listbox>
            </div>
        </div>
        

    </cdk-step>
    <cdk-step state="confirmacion" label="Confirmación">
        <div class="h-100 container d-flex flex-column">
            <h1>Verifique antes de confirmar el turno</h1>

            <div class="row mat-subheading-2">
                <span>Laboratorio de ondas</span>
            </div>
            <div class="row mat-subheading-2">
                <span>Fecha: {{selected | date: 'dd/MM/yyyy'}}</span>
                <span>Hora: 08:00</span>
            </div>
        </div>
    </cdk-step>
</app-stepper>