.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Coloca el fondo detrás del contenido */
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.75;
}
  mat-sidenav {
    width: 250px;
  }
  
  .sidenav-container {
    position: absolute;
    top: 60px;
    height: calc(100% - 120px);
    @media (max-width: 599px) {
        top: 52px !important;
        height: calc(100% - 104px);
    };
    left: 0;
    right: 0;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: rgba(255, 0, 0, 0.5);
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
  }
  
  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  
    mat-icon {
      margin-right: 8px;
    }
  }

  .menu-logo{
    cursor: pointer;
  }

  .footer-logo, .menu-logo{
    opacity: 0.75;
  }