<ng-container *ngIf="mainHandler$ |async"></ng-container>
<!-- app.component.html -->
<div [ngClass]="isDarkTheme ? 'dark-theme' : 'light-theme'">

<!-- processing spinner  component -->
<app-busy></app-busy>

<!-- error  component -->
<app-error></app-error>

<!-- template with logged in -->
<ng-container *ngIf="userIsLogged; else loggedOutTemplate">
  <mat-toolbar color="primary">
    <!-- menu button-->
    <button mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- title -->
    <span>{{ title }}</span>

    <!-- login button -->
    <span class="spacer"></span>

    <button mat-icon-button (click)="openLogout()">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
  <!-- menu sidenav-->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sideNav="matSidenav"
      mode="over"
      class="mat-elevation-z8"
    >
    <mat-nav-list>
      <mat-list-item *appHideIfRole="[roles.Alumno]" [activated]="true" [routerLink]="['../dashboard']" (click)="sideNav.toggle()">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        {{ "menu.dashboard" | translate }}
      </mat-list-item>
      <mat-list-item *appHideIfRole="[roles.Administrador]" [activated]="true" [routerLink]="['../laboratorios']" (click)="sideNav.toggle()">
        <mat-icon matListItemIcon>science</mat-icon>
        {{ "menu.laboratorios" | translate }}
      </mat-list-item>
      <mat-list-item *appHideIfRole="[roles.Administrador]" [activated]="true" [routerLink]="['../turnos']" (click)="sideNav.toggle()">
        <mat-icon matListItemIcon>edit_calendar</mat-icon>
        {{ "menu.turnos" | translate }}
      </mat-list-item>
      <mat-list-item *appHideIfRole="[roles.Administrador]" [activated]="true" [routerLink]="['../usuarios']" (click)="sideNav.toggle()">
        <mat-icon matListItemIcon>people_alt</mat-icon>
        {{ "menu.usuarios" | translate }}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [activated]="true" [routerLink]="['../perfil']" (click)="sideNav.toggle()">
        <mat-icon matListItemIcon>manage_accounts</mat-icon>
        {{ "menu.perfil" | translate }}
      </mat-list-item>
    </mat-nav-list>
      
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet> </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<!-- template with logged out -->
<ng-template #loggedOutTemplate>
  <mat-toolbar color="primary">
    <!-- title -->
    <span>{{ title }}</span>

    <!-- logout button -->
    <span class="spacer"></span>
    <button mat-icon-button (click)="openLogin()">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
  <router-outlet> </router-outlet>
</ng-template>

<!-- footer -->
<mat-toolbar class="footer mat-body" color="primary">
  <span>{{
    "footer.title" | translate
  }}</span></mat-toolbar>
</div>