@use '@angular/material' as mat;
// theme-light.scss
@import '@angular/material/theming';

// Definir los colores personalizados
$primary-color: mat.define-palette(mat.$gray-palette,900); // #212121 es un tono de gris, por lo que utilizamos la paleta de grises de Angular Material
$accent-color: mat.define-palette(mat.$blue-palette); // #0081cc es un tono de azul, por lo que utilizamos la paleta de azules de Angular Material

// Definir el tema light
$theme-light: mat-light-theme($primary-color, $accent-color);