@use '@angular/material' as mat;
// theme-light.scss
@import '@angular/material/theming';

// Definir los colores personalizados
// $primary-color: mat-palette($mat-grey, 700); // #212121 es un tono de gris, por lo que utilizamos la paleta de grises de Angular Material
// $accent-color: mat-palette($mat-light-blue, 500); // #0081cc es un tono de azul, por lo que utilizamos la paleta de azules de Angular Material

// Definir los colores personalizados
$primary-color: mat.define-palette(mat.$gray-palette, 300); // #212121 es un tono de gris, por lo que utilizamos la paleta de grises de Angular Material
$accent-color: mat.define-palette(mat.$blue-palette, 500); // #0081cc es un tono de azul, por lo que utilizamos la paleta de azules de Angular Material

// Definir el tema dark
$theme-dark: mat-dark-theme($primary-color, $accent-color);