// theme-light.scss
@import '@angular/material/theming';

// Definir los colores personalizados
$primary-color: mat-palette($mat-grey, 900); // #212121 es un tono de gris, por lo que utilizamos la paleta de grises de Angular Material
$accent-color: mat-palette($mat-light-blue, 500); // #0081cc es un tono de azul, por lo que utilizamos la paleta de azules de Angular Material

// Definir el tema light
$theme-light: mat-light-theme($primary-color, $accent-color);

// // Incluir el tema light en todos los componentes
// @include angular-material-theme($theme-light);

// // Estilos adicionales para el tema light
// .light-theme {
//   background-color: #f5f5f5;
// }