<div class="container form-container">
    <form #form="ngForm">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{'login.title' | translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="d-flex flex-column gap-2">
                <div class="row mt-4">
                    <mat-form-field>
                        <mat-label>{{ 'login.user-email' | translate }}</mat-label>
                        <input [(ngModel)]="usuario" matInput
                            placeholder="{{ 'login.user-email-placeholder' | translate }}" name="usuario"
                            autocomplete="off" required>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-label>{{ 'login.password' | translate }}</mat-label>
                        <input #passwordInput [(ngModel)]="contrasena" type="password" matInput alphaNumeric
                            placeholder="{{ 'login.password-placeholder' | translate }}" name="password"
                            autocomplete="off" required>
                        <mat-hint>
                            <a style="cursor: pointer;" (click)="toRecovery()">{{ 'login.forgot-password' | translate }}</a>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col">
                        <button [disabled]="form.invalid" mat-raised-button class="w-100" color="accent" (click)="signIn()">{{'login.button' | translate}}</button>
                    </div>
                </div>
            </mat-card-content>
            
        </mat-card>

    </form>
</div>