<form #form="ngForm">
    <div class="container d-flex flex-column gap-2">
        <div class="row">
            <mat-form-field>
                <mat-label>{{ 'general.titulo' | translate }}</mat-label>
                <input [(ngModel)]="laboratorio.titulo" [readonly]="readOnly" [disabled]="disabled" matInput
                    placeholder="{{ 'general.titulo-placeholder' | translate }}" name="titulo" autocomplete="off"
                    required>
                <mat-error *ngIf="form.controls['titulo']?.invalid && form.controls['titulo']?.touched">
                    {{ 'general.titulo-error' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>{{ 'general.nombre' | translate }}</mat-label>
                <input [(ngModel)]="laboratorio.nombre" [disabled]="disabled" [readonly]="readOnly" matInput
                    placeholder="{{ 'general.nombre-placeholder' | translate }}" name="nombre" autocomplete="off"
                    required>
                <mat-error *ngIf="form.controls['nombre']?.invalid && form.controls['nombre']?.touched">
                    {{ 'general.nombre-error' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>{{ 'general.descripcion' | translate }}</mat-label>
                <textarea [(ngModel)]="laboratorio.descripcion" [readonly]="readOnly" [disabled]="disabled" name="descripcion" matInput
                    placeholder="{{ 'general.descripcion-placeholder' | translate }}"></textarea>
                <mat-error *ngIf="form.controls['descripcion']?.invalid && form.controls['descripcion']?.touched">
                    {{ 'general.descripcion-error' | translate }}
                </mat-error>
            </mat-form-field>
            <!-- Otros campos del formulario y botón de envío -->
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>{{ 'general.url' | translate }}</mat-label>
                <input [(ngModel)]="laboratorio.url" [disabled]="disabled" [readonly]="readOnly" matInput
                    placeholder="{{ 'general.laboratorio-placeholder' | translate }}" name="nombre" autocomplete="off">
            </mat-form-field>
            <!-- Otros campos del formulario y botón de envío -->
        </div>
        <div class="row d-flex">
            <div class="col d-flex justify-content-center"><mat-slide-toggle color="accent" [disabled]="readOnly || disabled"
                    [(ngModel)]="laboratorio.disponible" name="disponible">{{ 'general.disponible' | translate
                    }}</mat-slide-toggle></div>
            <div class="col d-flex justify-content-center"><mat-slide-toggle color="accent" [disabled]="readOnly || disabled"
                    [(ngModel)]="laboratorio.estado" name="estado">{{ 'general.estado' | translate }}</mat-slide-toggle>
            </div>
        </div>
        <ng-container *ngIf="!readOnly; else imageOnly">
            <div class="row mt-4">
                <mat-label>{{ 'general.imagen-load' | translate }}</mat-label>
                <input ngModel [disabled]="disabled" [ngModelOptions]="{standalone:true}" name="imagen" type="file"
                    (change)="onFileSelected($event)" accept=".jpg,.png" required>
                <mat-error *ngIf="form.controls['imagen']?.invalid && form.controls['imagen']?.touched">
                    {{ 'general.imagen-error' | translate }}
                </mat-error>
            </div>
            <div class="row pt-2" *ngIf="laboratorio.imagen">
                <img [src]="laboratorio.imagen" alt="Imagen subida">
            </div>
        </ng-container>

        <ng-template #imageOnly>
            <div class="row pt-2" *ngIf="laboratorio.imagen">
                <mat-label class="pb-2">{{ 'general.imagen' | translate }}</mat-label>
                <img [src]="laboratorio.imagen" alt="Imagen subida">
            </div>
        </ng-template>
    </div>
</form>