// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

//import custom themes
@import './themes/theme-light.scss';
@import './themes/theme-dark.scss';
@import "./themes/custom-components.theme.scss";

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// default style
@include mat.all-component-themes($theme-light);
@include custom-components-theme($theme-light);
.dark-theme {
  @include mat.all-component-colors($theme-dark);
  @include custom-components-theme($theme-dark);
}


// Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
     
$fontConfig: (
  display-4: mat.define-typography-level(112px, 112px, 300, 'Poppins', -0.0134em),
  display-3: mat.define-typography-level(56px, 56px, 400, 'Poppins', -0.0089em),
  display-2: mat.define-typography-level(45px, 48px, 400, 'Poppins', 0.0000em),
  display-1: mat.define-typography-level(34px, 40px, 400, 'Poppins', 0.0074em),
  headline: mat.define-typography-level(24px, 32px, 400, 'Poppins', 0.0000em),
  title: mat.define-typography-level(20px, 32px, 500, 'Poppins', 0.0075em),
  subheading-2: mat.define-typography-level(16px, 28px, 400, 'Poppins', 0.0094em),
  subheading-1: mat.define-typography-level(15px, 24px, 500, 'Poppins', 0.0067em),
  body-2: mat.define-typography-level(14px, 24px, 500, 'Poppins', 0.0179em),
  body-1: mat.define-typography-level(14px, 20px, 400, 'Poppins', 0.0179em),
  button: mat.define-typography-level(14px, 14px, 500, 'Poppins', 0.0893em),
  caption: mat.define-typography-level(12px, 20px, 400, 'Poppins', 0.0333em),
  input: mat.define-typography-level(inherit, 1.125, 400, 'Poppins', 1.5px)
);

@include mat.all-component-typographies($fontConfig);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
