// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

//import custom themes
@import './themes/theme-light.scss';
@import './themes/theme-dark.scss';
@import "./themes/custom-components.theme.scss";

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// default style
@include mat.all-component-themes($theme-light);
@include custom-components-theme($theme-light);

.dark-theme {
  @include mat.all-component-colors($theme-dark);
  @include custom-components-theme($theme-dark);
}


// Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
     
$fontConfig: (
  headline-1: mat.define-typography-level(93px, 93px, 300, 'Poppins', -1.5px),
  headline-2: mat.define-typography-level(58px, 58px, 300, 'Poppins', -0.5px),
  headline-3: mat.define-typography-level(47px, 47px, 400, 'Poppins', 0px),
  headline-4: mat.define-typography-level(33px, 33px, 400, 'Poppins', 0.25px),
  headline-5: mat.define-typography-level(23px, 23px, 400, 'Poppins', 0px),
  headline-6: mat.define-typography-level(19px, 19px, 500, 'Poppins', 0.15px),
  subtitle-2: mat.define-typography-level(14px, 14px, 500, 'Poppins', 0.1px),
  subtitle-1: mat.define-typography-level(16px, 16px, 400, 'Poppins', 0.15px),
  body-2: mat.define-typography-level(14px, 14px, 400, 'Poppins', 0.25px),
  body-1: mat.define-typography-level(15px, 15px, 400, 'Poppins', 0.5px),
  button: mat.define-typography-level(14px, 14px, 500, 'Poppins', 1.25px),
  caption: mat.define-typography-level(12px, 12px, 400, 'Poppins', 0.4px),
  overline: mat.define-typography-level(10px, 10px, 400, 'Poppins', 1.5px)
);
// $my-typography: mat.define-typography-config($font-family: 'Poppins');
@include mat.all-component-typographies($fontConfig);
@include mat.all-component-densities(-1);
@include mat.typography-hierarchy($fontConfig);
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Poppins}

// $special-primary: mat.define-palette(mat.$orange-palette);
// $special-accent: mat.define-palette(mat.$brown-palette);
// $special-theme: mat.define-dark-theme((
//    color: (primary: $special-primary, accent: $special-accent),
//  ));

//  @include mat.button-color($special-theme);