<mat-card>
    <mat-list>
        <div mat-subheader class="accent">{{'features.perfil.titulo' | translate}}</div>
        <mat-list-item>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <mat-icon matListItemIcon>language</mat-icon>
                  <div class="d-flex flex-column ms-3">
                      <h3 matListItemTitle>{{'features.perfil.lenguaje' | translate}}</h3>
                      <p matListItemLine>
                        <span>{{'features.perfil.lenguaje-opciones.'+ profile.lang | translate}}</span>
                      </p>
                  </div>
                </div>
                <div>
                  <button mat-icon-button [matMenuTriggerFor]="lenguajeOpciones">
                    <mat-icon>settings</mat-icon>
                  </button>
                </div>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <mat-icon matListItemIcon>person</mat-icon>
                  <div class="d-flex flex-column ms-3">
                      <h3 matListItemTitle>{{'features.perfil.tema' | translate}}</h3>
                      <p matListItemLine>
                        <span>{{'features.perfil.tema-opciones.'+profile.theme | translate}}</span>
                      </p>
                  </div>
                </div>
                <div>
                  <button mat-icon-button (click)="changeTheme()">
                    <mat-icon *ngIf="profile.theme==='light'">light_mode</mat-icon>
                    <mat-icon *ngIf="profile.theme==='dark'">dark_mode</mat-icon>
                  </button>
                </div>
            </div>
        </mat-list-item>
      </mat-list>
</mat-card>


<mat-menu #lenguajeOpciones="matMenu">
    <button mat-menu-item (click)="changeLanguage('es')">{{'features.perfil.lenguaje-opciones.es' | translate}}</button>
    <button mat-menu-item (click)="changeLanguage('en')">{{'features.perfil.lenguaje-opciones.en' | translate}}</button>
</mat-menu>