<div class="container form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{'sign-up.title' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngIf="stepperOrientation | async as orientation">
            <mat-stepper linear #stepper [orientation]="orientation">
                <mat-step [stepControl]="formDatosPersonales.control" [editable]="!registracionEnviada">
                    <form #formDatosPersonales="ngForm">
                        <ng-template matStepLabel>{{'sign-up.datos-personales-titulo' | translate}}</ng-template>
        
                        <div class="row mt-4">
                            <mat-form-field>
                                <mat-label>{{ 'sign-up.nombre' | translate }}</mat-label>
                                <input alphabetic [(ngModel)]="registracion.nombre" matInput autofocus
                                    placeholder="{{ 'sign-up.nombre-placeholder' | translate }}" name="nombre"
                                    autocomplete="off" maxlength="50" required>
                                <mat-icon matPrefix>badge</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>{{ 'sign-up.apellido' | translate }}</mat-label>
                                <input alphabetic [(ngModel)]="registracion.apellido" matInput
                                    placeholder="{{ 'sign-up.apellido-placeholder' | translate }}" name="apellido"
                                    autocomplete="off" maxlength="50" required>
                                <mat-icon matPrefix>badge</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>{{ 'sign-up.telefono' | translate }}</mat-label>
                                <input [(ngModel)]="registracion.telefono" matInput
                                    placeholder="{{ 'sign-up.telefono-placeholder' | translate }}" name="telefono"
                                    autocomplete="off" type="tel" maxlength="20">
                                <mat-icon matPrefix>phone</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>{{ 'sign-up.email' | translate }}</mat-label>
                                <input #emailInput="ngModel" [(ngModel)]="registracion.mail" matInput
                                    placeholder="{{ 'sign-up.email-placeholder' | translate }}" name="email" autocomplete="off"
                                    type="email" required (ngModelChange)="validateEmail(emailInput.value, formDatosPersonales)" maxlength="100">
                                <mat-icon matPrefix>email</mat-icon>
                                <mat-error *ngIf="emailInput.errors && emailInput.errors['emailInvalid']">
                                    {{ 'sign-up.email-invalid' | translate }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button mat-button matStepperNext [disabled]="formDatosPersonales.invalid">{{'general.next' | translate}}</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="formSesion.control" [editable]="!registracionEnviada">
                    <form #formSesion="ngForm" class="d-flex flex-column gap-3">
                        <ng-template matStepLabel>{{'sign-up.datos-sesion-titulo' | translate}}</ng-template>
                        <div class="row mt-4">
                            <mat-form-field>
                                <mat-label>{{ 'sign-up.usuario' | translate }}</mat-label>
                                <input alphaNumeric [(ngModel)]="registracion.nombreUsuario" matInput autofocus
                                    placeholder="{{ 'sign-up.usuario-placeholder' | translate }}" name="usuario" minlength="8" maxlength="20"
                                    autocomplete="off" required>
                                <mat-icon matPrefix>account_circle</mat-icon>
                                <mat-hint>{{ (orientation==='horizontal' ? 'sign-up.usuario-hint' : 'sign-up.usuario-hint-mobile')| translate }}</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>{{ 'sign-up.password' | translate }}</mat-label>
                                <mat-hint>{{ (orientation==='horizontal' ? 'sign-up.usuario-hint' : 'sign-up.usuario-hint-mobile')| translate }}</mat-hint>
                                <input alphaNumeric matInput #passwordInput="ngModel" [(ngModel)]="registracion.contrasena" name="password"
                                    type="password" placeholder="{{'sign-up.password-placeholder'|translate}}" required
                                    (ngModelChange)="validatePasswords(formSesion)" minlength="8" maxlength="20">
                                <mat-icon matPrefix>password</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>{{ 'sign-up.confirm-password' | translate }}</mat-label>
                                <input alphaNumeric matInput ngModel #confirmPasswordInput="ngModel" name="confirmPassword" type="password"
                                    placeholder="{{'sign-up.confirm-password-placeholder'|translate}}" required
                                    (ngModelChange)="validatePasswords(formSesion)" minlength="8" maxlength="20">
                                <mat-error
                                    *ngIf="confirmPasswordInput.errors && confirmPasswordInput.errors['notMatching']">{{'sign-up.confirm-password-notmatch'|translate}}</mat-error>
                                <mat-icon matPrefix>password</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="d-flex gap-2 justify-content-between">
                            <button mat-button matStepperPrevious>{{'general.back' | translate}}</button>
                            <button mat-raised-button color="accent" [disabled]="!formSesion.valid" (click)="signUp(stepper)">{{'sign-up.button' |
                                translate}}</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>{{'general.confirmation' | translate}}</ng-template>
                    <h2>{{'sign-up.registracion-completada.titulo' | translate }}</h2>
                    <h3>{{'sign-up.registracion-completada.mensaje' | translate}}</h3>
                    <div class="d-flex gap-2 justify-content-center">
                        <button mat-raised-button (click)="backToHome()">{{'sign-up.volver'
                            |translate}}</button>
                    </div>
                </mat-step>
            </mat-stepper>        
        </ng-container>
        </mat-card-content>
    </mat-card>
    <!-- <span class="mat-h2 text-center"></span> -->

</div>