<div class="container d-flex flex-column h-100">
    <div class="row stepper-header pt-3 mat-elevation-z6">
        <span class="mat-headline-5"><b>{{selected?.label}}</b></span>
    </div>
    <div class="row h-100 overflow-auto flex-grow-1">
        <div [ngTemplateOutlet]="selected ? selected.content : null"></div>
    </div>
    <div class="row stepper-footer">
    <footer>
        <div class="d-flex justify-content-around">
            <button *ngIf="selected?.state=='horario' || selected?.state === 'confirmacion'" mat-stroked-button color="accent" cdkStepperPrevious>{{'general.back' | translate}}</button>
            <button *ngIf="selected?.state === 'horario'" mat-stroked-button color="accent" cdkStepperNext>{{'general.next' | translate}}</button>
            <button *ngIf="selected?.state === 'confirmacion'" mat-stroked-button color="accent" cdkStepperDone>{{'general.confirm' | translate}}</button>
        </div>
    </footer>
    </div>
</div>