<div class="main-container">
        <div class="h-100 d-flex flex-column overflow-auto">
          <mat-toolbar class="mat-subtitle-1 mb-0 mat-elevation-z8">
            <mat-toolbar-row>
              <div class="col"></div>
              <div class="col text-center"><span>{{'features.turnos.titulo'|translate}}</span></div>
              <div class="col d-flex align-content-end align-items-center justify-content-end">
                <span class="mat-caption d-none d-md-block" (click)="showSearch()" style="cursor:pointer;">{{'general.operation.advance-search-tooltip'|translate}}</span>
                <button type="button" mat-icon-button (click)="showSearch()" [ariaLabel]="'general.operation.advance-search-aria-label'|translate"
                  [matTooltip]="'general.operation.advance-search-tooltip'|translate">
                  <mat-icon>manage_search</mat-icon>
                </button>
              </div>
            </mat-toolbar-row>
  
          </mat-toolbar>
          <div class="content-container d-flex flex-column overflow-auto p-2">
            <div class="filter-container">
              <mat-form-field appearance="fill" class="smaller-input mat-caption" subscriptSizing="dynamic">
                <input #filterInput matInput placeholder="{{'general.filtro-placeholder'|translate}}" name="test"
                  [autocomplete]="false" value="" (keyup)="applyFilter($event)">
                <mat-icon matPrefix>search</mat-icon>
                <mat-icon matSuffix (click)="filterInput.value='';">close</mat-icon>
              </mat-form-field>
            </div>
            <div class="overflow-auto">
                <ng-container *ngTemplateOutlet="desktop"></ng-container>
            </div>
          </div>
        </div>
  
        <ng-template #desktop>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 overflow-auto" matSort>
  
            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
  
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.idTurno}} </td>
            </ng-container>
  
  
            <!-- Laboratorio Column -->
            <ng-container matColumnDef="laboratorio">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'features.turnos.laboratorio'|translate}} </th>
              <td mat-cell *matCellDef="let element">
                <div class="d-flex flex-column">
                  <span class="mat-body">{{element?.nombreLaboratorio}}</span>
                  <span class="mat-caption">{{element?.tituloLaboratorio}}</span>
                </div>
              </td>
            </ng-container>

              <!-- Alumno Column -->
              <ng-container matColumnDef="alumno">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'features.turnos.alumno'|translate}} </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex flex-column">
                    <span class="mat-body">{{element.nombreUsuario}}</span>
                    <span class="mat-caption">{{element.apellidoUsuario}}</span>
                  </div>
                </td>
              </ng-container>
                <!-- Fecha Column -->
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'features.turnos.fecha'|translate}} </th>
                    <td mat-cell *matCellDef="let element">
                      <div class="d-flex flex-column">
                        <span class="mat-body">{{element.fechaInicio | date:'short'}}</span>
                      </div>
                    </td>
                  </ng-container>
            <!-- Disponible Column -->
            <ng-container matColumnDef="disponible">
              <th mat-header-cell *matHeaderCellDef class="text-center"> {{'general.disponible'|translate}} </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <mat-icon [color]="element.disponible ? 'accent' : 'warn'">{{element.disponible ? 'timer' : 'timer_off'}}</mat-icon>
              </td>
            </ng-container>
  
            <!-- Más Column -->
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef class="text-end"> {{'features.turnos.cancelar'|translate}} </th>
              <td mat-cell *matCellDef="let element" class="text-end">
                <button mat-icon-button [disabled]="!element.disponible" (click)="cancelarTurno(element.idTurno)" color="warn"><mat-icon>event_busy</mat-icon></button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </ng-template>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>